<div class="container">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Image&Text</a></li>
      <li><a href="#">Image</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="btn-group"> 
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        New
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Single Asset</a></li>
        <li><a href="#">Multiple Assets</a></li>
      </ul>
    </div>
  </div>
</div>
