textarea
  width: 100%
  height: 300px !important

.navbar
  margin-bottom: 0px
 
.bg-warning
  height: 45px
  vertical-align: middle
  text-align: center
  padding-top: 9px
  font-size: 15px
  -webkit-font-smoothing: antialiased
